<!doctype html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/static/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/stylesheets/style.css" rel="stylesheet">
	<link
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		rel="stylesheet">

	<!-- Custom styles for this template-->
	<link href="/static/stylesheets/sb-admin-2.min.css" rel="stylesheet">
	
	<script src="/static/vendor/jquery/jquery.min.js"></script>

	<title>Login</title>
</head>

<body>
	<div id="wrapper">

		<!-- Begin Page Content -->
		<div class="container mt-5">
			<div class="d-flex justify-content-center">
				<div class="card" style="width: 30rem;">
					<div class="card-body">
						<form method="POST" action="/check-login">
							<div class="row d-flex justify-content-center">
								<div class="col-8 form-group">
									<label class="form-label">
										Login
									</label>
									<input type="text" name="login" class="form-control">
								</div>
								<div class="col-8 form-group">
									<label class="form-label">
										Senha
									</label>
									<input type="password" name="senha" class="form-control">
								</div>
								<div class="col-8 mt-2">
									<button class="btn btn-success float-end">
										Entrar
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End of Page Wrapper -->

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Sair do Sistema?</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Selecione Sair para efetuar o Logout do Sistema</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
					<a class="btn btn-primary" href="#">Sair</a>
				</div>
			</div>
		</div>
	</div>


	<script src="/static/dist/umd/popper.min.js"></script>

	<script src="/static/dist/js/bootstrap.min.js"></script>

	<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<script type="module" src="/static/js/main.js"></script>

</body>

</html>